{% for c in categories %}
	<li class="nav-item">
		<a class="nav-link" href="#">
			<font style="vertical-align: inherit;">
				<font style="vertical-align: inherit;">{{ c.name }}</font>
			</font>
		</a>
	</li>
{% endfor %}
