<div class="col">
	<div class="card bg-{{color}} text-white text-center">
		<div class="card-boy">
			<i class="{{icone}} fa-2x my-3"></i>
			<p class="card-text">{{text}}</p>
		</div>
	</div>
</div>
